.container{
    display: grid;
    grid-template-areas: "header header header" 
    "profile main main" 
    "sidebar main main"
    "sidebar main main" 
    "sidebar comment comment" 
    "footer footer footer";
    gap: 10px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 4fr 2fr 1fr;
    
}
.container div{
    padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.header{
    grid-area: header;
    background-color: aqua;
}

.profile{
    grid-area: profile;
    background-color: yellow;
}

.sidebar{
    grid-area: sidebar;
    background-color: red;
}

.main{
    grid-area: main;
    background-color: orange;
}

.comment{
    grid-area: comment;
    background-color: gray;
}

.footer{
    grid-area: footer;
    background-color: blue;
}